@model NC.Models.Tbl_Grados

@{
    ViewBag.Title = "Detalles grado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Detalles grado</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Grado:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreGrado)
        </dd>

        <dt>
            <label>Jornada:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JornadaGrado)
        </dd>

        <dt>
            <label>Disponibilidad:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisponibilidadCupoGrado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-info" })
</p>
