@{
    ViewBag.Title = "¡Contáctanos!";
}
<h2>@ViewBag.Title.</h2>

<address>
    En algún lugar de Medellín<br />
    El Poblado<br />
    <abbr title="Phone">Número de contacto:</abbr>
    3127472713 - 3126487498
</address>

<address>
    <strong>Soporte:</strong>   <a href="winny0507c@gmail.com">NearCollege0405@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="niaamt1880@gmail.com">NearCollege0405@gmail.com</a>
</address>