@{
    ViewBag.Title = "NearCollege";
}

    <body>
        <div class="container">
            <div class="row justify-content-center mt-3 pt-3 mb-3 pb-3">
                <div class="col-md-12">
                    <h1 class="display-4 text-lg-center text-center"><span class="icon-magnifying-glass" style="color:#ffc107"></span></h1>
                    <hr class="bg-warning">
                    <div class="card text-white bg-warning mb-12">
                        <div class="card-header" style="font-size:35px; text-align:center;">
                            Jorge Eliecer Gaitán Áyala
                        </div>

                    </div>
                </div>
            </div>
            <br />
            <div class="col-sm-4" style="position: relative; left:25%;">
                <div class="card">
                    <img src="~/Content/Images/Portada.png" class="card-img-top imgcolegio" style="width:550px; height:300px;">
                    <div class="card-body">
                        <p class="card-text"><small class="text-muted" style="position:relative; left:65%;">Institución Pública</small></p>
                        <p class="card-text" style="position:relative; text-align:center; left:30%;">Siendo una de las instituciones a nivel Bello más conocidas, tanto por su nivel académico y su nivel disciplinario. La Institución Educativa Jorge Eliécer Gaitán Ayala Surge mediante Resolución Departamental 15168 del 30 de Octubre de 2002; Como resultado de la fusión de tres establecimientos que funcionaban en la misma planta física: Escuela Antonio Uribe Peláez, Escuela Marco Fidel Suárez y Colegio Nocturno Jorge Eliécer Gaitán Ayala</p>
                        <a href="https://jega-bello.edu.co/" class="btn btn-warning" style="position: relative; left:59%;">Conocer detalles</a>
                    </div>
                </div>
            </div> 
        </div>
    </body>